html,
body {
    height: 100%;
    width: 
}

body {
    color: #64707b;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
}

.row {
    margin: 0;
}
.container, .col-1, .col-10, .col-2, .col-8, .row {
/*    border: 1px solid black; */
}
.home {
    
    width: 100%;
    height: 100%;
    background-image: url(../img/HomePage/home-bg.png);
}

.profile-pic-container{
    padding: 15px 0 0 10px;
    
}
.profile-pic {
    width: 80%;
}
.home-title{
    padding-top: 5px;
}
.notification-button{
    width: 60%;
}
.notif-button-container {
    text-align : right;
    padding : 0;
}

.main-text-container {
    padding: 20px;
}
.main-text {
    width: 50%;
}

.home-side-bar1 {
    margin-top: 50px;
    cursor: pointer;
}

.home-side-bar {
    margin: 15px auto;
    cursor: pointer;
}

.home-side-bar1:hover, .home-side-bar:hover {
    border-bottom: 1px solid #551a8b;
}

.icon-newevent, .icon-myschedule, .icon-personalization {
    width: 85%;
    height: 85%;
}

.icon-friends {
    width: 60%;
    height: 60%;
}









